<div class="v-grid gap-2 m-5 p-5">
    <div  class="form-group row">
    <h2>Enter Details</h2>
    <form action="" method="post">
        <div class="col float-start mt-4" style="width:50%">
            <label class="form-check-label" for="address">Address</label>
            <textArea type="text" name="address" class="form-control"></textArea><br>
            <div class="float-start">
                <label class="form-check-label" for="pincode">Pincode</label>
                <input type="text" name="pincode" class="form-control" style="width:150px">
            </div>
            <div class="float-start ms-5">
                <label class="form-check-label" for="mobile">Mobile</label>
                <input type="text" name="mobile" class="form-control" style="width:250px">
            </div>
        </div>
        <div class="card col float-end p-5 me-5"  style="width:40%">
            <h4>Total Amount: 30000</h4>
            <br>
            <label class="m-3">Payment method :</label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="payment" value="cod">
                <label class="form-check-label mb-2" for="payment">COD</label>
                <br>
                <input class="form-check-input" type="radio" name="payment" value="online">
                <label class="form-check-label" for="payment"> Online Payment</label>
                <br>
                <input class="btn btn-primary mt-5" type="submit" id="" name="submit" value="Checkout">
            </div>
        </div>
    </form>
    </div>
</div>